.lastRandoTitle {
  text-align: center;
  font-family: poppins;
  font-weight: 400;
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
  margin-top: 4rem;
  color: var(--blackColor);
}

header {
  display: flex;
  justify-content: space-between;
  background-color: var(--primaryColor);
  margin-bottom: 1rem;
  width: 100%;
  top: 0;
  z-index: 999;
}

.cardsRando {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  margin-left: 0.6rem;
  margin-bottom: 5rem;
  margin-top: 1rem;
}
