.lastRandoTitle {
  text-align: center;
}

header {
  display: flex;
  gap: 13rem;
  background-color: var(--primaryColor);
  padding-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.382) 0 0.2rem 10px;
  margin-bottom: 4rem;
}
