.cardRando {
  width: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.randoDispoPicture {
  width: 9rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  margin-bottom: 0.5rem;
}

.desc {
  font-size: 0.7rem;
  margin: 0.5rem 1rem 1rem 0.5rem;
}

.typeDesc {
  font-size: 1rem;
  margin-left: 0.5rem;
  color: var(--secondaryColor);
}
